<div>
  <!-- https://swimlane.gitbook.io/ngx-charts/examples/bar-charts/vertical-bar-chart -->
  <ngx-charts-bar-vertical [view]="graphConfig.viewport" [results]="graphData" [xAxis]="graphConfig.showXAxis"
    [yAxis]="graphConfig.showYAxis" [legend]="graphConfig.showLegend" [showXAxisLabel]="graphConfig.showXAxisLabel"
    [showYAxisLabel]="graphConfig.showYAxisLabel" [xAxisLabel]="graphConfig.xAxisLabel"
    [yAxisLabel]="graphConfig.yAxisLabel"> </ngx-charts-bar-vertical>
  <div class="clearfix"></div>
</div>
