<div *ngIf="graphData">

<h2>{{ config.getName() }} —
  {{ moment(graphConfig.xScaleMin*1000).format('DD/MM/YYYY') }}
  -
  {{ moment(graphConfig.xScaleMax*1000).format('DD/MM/YYYY') }}
</h2>


<!-- https://swimlane.gitbook.io/ngx-charts/examples/bar-charts/vertical-bar-chart -->
<div *ngIf="config?.getType() === GraphType.Line">
  <ngx-charts-line-chart
    [view]="graphConfig.viewport"
    [results]="graphData"
    [xAxis]="graphConfig.showXAxis"
    [yAxis]="graphConfig.showYAxis"
    [legend]="graphConfig.showLegend"
    [showXAxisLabel]="graphConfig.showXAxisLabel"
    [showYAxisLabel]="graphConfig.showYAxisLabel"
    [xAxisLabel]="graphConfig.xAxisLabel"
    [yAxisLabel]="graphConfig.yAxisLabel"
    [timeline]="graphConfig.timeline"
    [xScaleMin]="graphConfig.xScaleMin"
    [xScaleMax]="graphConfig.xScaleMax"
    [curve]="graphConfig.curve"
  >
    <ng-template #tooltipTemplate let-model="model">
      <span class="chart__tooltip-sub-label">
        {{ model.name | date : 'dd/MM/YYYY' }}
        <br>
        {{ model.series }}: {{ model.value | number : '1.0-1' }} {{ graphConfig.units }}
      </span>
    </ng-template>
    <ng-template #seriesTooltipTemplate let-model="model">
      <span class="chart__tooltip-sub-label">
        {{ model[0].value | number : '1.0-1' }} {{ graphConfig.units }}
      </span>
    </ng-template>
  </ngx-charts-line-chart>
</div>

<div *ngIf="config?.getType() === GraphType.Bar">
  <ngx-charts-bar-vertical
    [view]="graphConfig.viewport"
    [results]="graphData"
    [xAxis]="graphConfig.showXAxis"
    [yAxis]="graphConfig.showYAxis"
    [legend]="graphConfig.showLegend"
    [showXAxisLabel]="graphConfig.showXAxisLabel"
    [showYAxisLabel]="graphConfig.showYAxisLabel"
    [xAxisLabel]="graphConfig.xAxisLabel"
    [yAxisLabel]="graphConfig.yAxisLabel"
  >
    <ng-template #tooltipTemplate let-model="model">
      <span class="chart__tooltip-sub-label">
        {{ model.name | date : 'dd/MM/YYYY' }}
        <br>
        {{ model.value | number : '1.0-1' }} {{ graphConfig.units }}
      </span>
    </ng-template>
  </ngx-charts-bar-vertical>
</div>

</div>
